# did-cli configuration
# [REQ] DID instance URL (without protocol)
DID_URL=did.crayonconsulting.no

# [REQ] Session cookie value from browser (cookie name: "didapp")
DID_COOKIE=""

# [OPT] Debug output (0=off, 1=on)
debug=0
